/*主界面的样式*/
#contentdiv{
    width: 100%;
    height: 100%;
}

/*这个实际上就是html中的body，这个是设置body样式的*/
body {
    background: url("image/timg.png");
}
*{
    margin: 0px;
    padding: 0px;
}

/*开始按钮的样式*/
#startdiv button{
    width: 150px;
    height: 30px;
    position: absolute;
    left: 50%;
    margin-left: -75px;
    top: 340px;
    border: 1px solid gray;
    border-radius: 30px;
    background-color: gray;
}

/*游戏过程中的主界面样式*/
#maindiv{
    width: 100%;
    height:100%;
    position: absolute;
    background: url("image/timg.png");
    background-size: 100%;
    display: none;
    overflow: hidden;
}

/*显示分数样式*/
#scorediv{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 30px;
    font-weight: bold;
}

/*enddiv结束的div*/
#enddiv{
    position: absolute;
    top: 210px;
    left: 50%;
    width: 100px;
    margin-left: -60px;
    padding: 10px;
    border:1px solid gray;
    background-color: gray;
    display: none;
    border-radius: 5px;
    z-index: 10;
    text-align: center;
}

#planetext{
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    border:1px solid #ccc;
}

#restartend{
    text-decoration: none;
    color: gray;
    display: block;
    background: #ffffff;
    border-radius: 5px;
}

#totalscore{
    color: #ffffff;
}